@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637739605188') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\f016f";
}

.icon-news:before {
  content: "\e628";
}

.icon-menu:before {
  content: "\e658";
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-menu1:before {
  content: "\e63e";
}

